.mainimg {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/mountains-emily-morter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
  background-position: center;
}
#main h1{
  text-align: center;
}
#main h1 a{
  text-decoration: none;
  color: #585554;
}
#header{
  width: 100%;
  background-color: #CB563D;
  text-align: center;
}
.nav ul{
  list-style: none;
}
/*////////////////////////homepage//////////////////////*/

#selfie{
  position: absolute;
  border-radius: 6px;
}
#indexp{
  position: absolute;
  width: 60%;
  left: 375px;
}
